In [1]:
import pandas as pd
import numpy as np

In [2]:
canada = pd.read_csv('CANADA.csv', encoding='latin-1')#,delimiter = '\t', quoting = 3, encoding='utf-8')
canada.head()

                     Place Name   Latitude   Longitude
0           Yorkton, SK, Canada  51.213890 -102.462776
1            Warman, SK, Canada  52.321945 -106.584167
2     Swift Current, SK, Canada  50.288055 -107.793892
3  North Battleford, SK, Canada  52.757500 -108.286110
4         Moose Jaw, SK, Canada  50.393333 -105.551941

In [3]:
target = []
for i in range(len(canada)):
    target.append(1)

In [4]:
canada['target'] = target
canada.head()

                     Place Name   Latitude   Longitude  target
0           Yorkton, SK, Canada  51.213890 -102.462776       1
1            Warman, SK, Canada  52.321945 -106.584167       1
2     Swift Current, SK, Canada  50.288055 -107.793892       1
3  North Battleford, SK, Canada  52.757500 -108.286110       1
4         Moose Jaw, SK, Canada  50.393333 -105.551941       1

In [5]:
canada.drop(['Place Name'],axis = 1, inplace =True)

In [6]:
canada.head()

    Latitude   Longitude  target
0  51.213890 -102.462776       1
1  52.321945 -106.584167       1
2  50.288055 -107.793892       1
3  52.757500 -108.286110       1
4  50.393333 -105.551941       1

In [7]:
usa = pd.read_csv('USA.csv', encoding='latin-1')#, delimiter = '\t', quoting = 3, encoding='utf-8')
usa.head()

                 Place Name   Latitude   Longitude
0  Port Hueneme, CA, the US  34.155834 -119.202789
1           Auburn, NY, USA  42.933334  -76.566666
2     Jamestown, NY, the US  42.095554  -79.238609
3           Fulton, MO, USA  38.846668  -91.948059
4       Bedford, OH, the US  41.392502  -81.534447

In [8]:
targ = []
for i in range(len(usa)):
    targ.append(0)

In [9]:
usa['target'] = targ
usa.head()

                 Place Name   Latitude   Longitude  target
0  Port Hueneme, CA, the US  34.155834 -119.202789       0
1           Auburn, NY, USA  42.933334  -76.566666       0
2     Jamestown, NY, the US  42.095554  -79.238609       0
3           Fulton, MO, USA  38.846668  -91.948059       0
4       Bedford, OH, the US  41.392502  -81.534447       0

In [10]:
print(len(usa))

400

In [11]:
usa.drop(['Place Name'],axis = 1, inplace =True)

In [12]:
# Taking out data for testing.
test_ca = canada.iloc[-30:] # last 30
test_usa = usa.iloc[-30:]

In [13]:
test_ca = test_ca.values 
test_usa = test_usa.values

In [14]:
test_data = np.concatenate([test_ca, test_usa])

In [15]:
test_data = pd.DataFrame(test_data, columns=['Latitude','Longitude','target'])

In [16]:
test_data.head()

    Latitude   Longitude  target
0  49.095001 -117.709999     1.0
1  43.683334  -79.766670     1.0
2  53.631611 -113.323975     1.0
3  43.255203  -79.843826     1.0
4  42.317432  -83.026772     1.0

In [17]:
train_ca = canada.iloc[:322]
train_usa = usa.iloc[:370]

In [18]:
train_ca = train_ca.values
train_usa = train_usa.values

In [19]:
train_data = np.concatenate([train_ca, train_usa])

In [20]:
train_data = pd.DataFrame(train_data, columns=['Latitude','Longitude','target'])

In [21]:
train_data.head()

    Latitude   Longitude  target
0  51.213890 -102.462776     1.0
1  52.321945 -106.584167     1.0
2  50.288055 -107.793892     1.0
3  52.757500 -108.286110     1.0
4  50.393333 -105.551941     1.0

In [22]:
test_data['target'].unique()

array([1., 0.])

In [23]:
train_data['target'].unique()

array([1., 0.])

In [24]:
train_data = train_data.sample(frac=1).reset_index(drop=True) # Shuffling the data

In [25]:
train_data.head()

    Latitude   Longitude  target
0  33.039139 -117.295425     0.0
1  43.695442 -116.354012     0.0
2  48.383331  -77.233330     1.0
3  28.798952  -97.028503     0.0
4  33.630554 -112.366669     0.0

In [26]:
# Changing lat lon values to x, y, z coordinates
def find_x(lat, lon):
    return np.cos(np.deg2rad(lat))*np.cos(np.deg2rad(lon)) # x = cos(lat)*cos(lon)

def find_y(lat, lon):
    return np.cos(np.deg2rad(lat))*np.sin(np.deg2rad(lon)) # y = cos(lat)*sin(lon)

def find_z(lat):
    return np.sin(np.deg2rad(lat)) # z = sin(lat)

In [27]:
normalized_coor = pd.DataFrame({}) # Dataframe to store normalized x, y, z coordinates

In [28]:
normalized_coor['x'] = train_data.apply(lambda x: find_x(x['Latitude'], x['Longitude']), axis=1)
normalized_coor['y'] = train_data.apply(lambda x: find_x(x['Latitude'], x['Longitude']), axis=1)
normalized_coor['z'] = train_data['Latitude'].apply(find_z)
normalized_coor['target'] = train_data['target']

In [29]:
normalized_coor.head()

          x         y         z  target
0 -0.384426 -0.384426  0.545212     0.0
1 -0.320961 -0.320961  0.690825     0.0
2  0.146763  0.146763  0.747605     1.0
3 -0.107229 -0.107229  0.481738     0.0
4 -0.316841 -0.316841  0.553836     0.0

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [31]:
x = normalized_coor.iloc[:, 0:3]
y = normalized_coor.iloc[:, 3]

In [32]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.25, random_state = 0)

In [33]:
from sklearn.naive_bayes import GaussianNB
classifier= GaussianNB()
classifier.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [34]:
y_pred = classifier.predict(x_test)

In [35]:
from sklearn.metrics import confusion_matrix, classification_report
cm = confusion_matrix(y_test, y_pred)

In [36]:
cm

array([[85,  9],
       [ 7, 72]], dtype=int64)

In [37]:
print(accuracy_score(y_pred, y_test))

0.9075144508670521

In [38]:
normalized_coor_test = pd.DataFrame({})

In [39]:
# For the main test
normalized_coor_test['x'] = test_data.apply(lambda x: find_x(x['Latitude'], x['Longitude']), axis=1)
normalized_coor_test['y'] = test_data.apply(lambda x: find_x(x['Latitude'], x['Longitude']), axis=1)
normalized_coor_test['z'] = test_data['Latitude'].apply(find_z)
normalized_coor_test['target'] = test_data['target']

In [40]:
x_r = normalized_coor_test.iloc[:, 0:3]
y_r = normalized_coor_test.iloc[:, 3]

In [41]:
y_predR = classifier.predict(x_r)

In [42]:
cmR = confusion_matrix(y_r, y_predR)

In [43]:
cmR

array([[27,  3],
       [ 8, 22]], dtype=int64)

In [44]:
print(accuracy_score(y_predR, y_r))

0.8166666666666667

In [45]:
from sklearn.metrics import roc_auc_score

In [46]:
# Predict class probabilities
y_pred_2 = classifier.predict_proba(x_r)
 
# Keep only the positive class
y_pred_2 = [y[1] for y in y_pred_2]

In [47]:
print(roc_auc_score(y_r, y_pred_2))

0.95