In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Import the dataset
us = pd.read_csv('US ND prediction/us_disaster_declarations.csv')

In [4]:
us.head()

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,incident_begin_date,incident_end_date,disaster_closeout_date,fips,place_code,designated_area,declaration_request_number,hash,last_refresh,id
0,DR-1-GA,1,GA,DR,1953-05-02T04:00:00Z,1953,Tornado,Tornado,0,1,...,1953-05-02T04:00:00Z,1953-05-02T04:00:00Z,NaN,13000,0,Statewide,53013,2f28952448e0a666d367ca3f854c81ec,2019-07-26T18:49:32Z,5d1bceafd5b39c032f2602bf
1,DR-2-TX,2,TX,DR,1953-05-15T04:00:00Z,1953,Tornado,Tornado & Heavy Rainfall,0,1,...,1953-05-15T04:00:00Z,1953-05-15T04:00:00Z,NaN,48000,0,Statewide,53003,c5a1a4a1030d6730d9c562cdbe7c830f,2019-07-26T18:49:32Z,5d1bceafd5b39c032f2602c3
2,DR-3-LA,3,LA,DR,1953-05-29T04:00:00Z,1953,Flood,Flood,0,1,...,1953-05-29T04:00:00Z,1953-05-29T04:00:00Z,NaN,22000,0,Statewide,53005,745948932fd77a7c6dcd4de7059ff080,2019-07-26T18:49:32Z,5d1bceafd5b39c032f2602c1
3,DR-4-MI,4,MI,DR,1953-06-02T04:00:00Z,1953,Tornado,Tornado,0,1,...,1953-06-02T04:00:00Z,1953-06-02T04:00:00Z,NaN,26000,0,Statewide,53004,8c9dee13124e36a9dfe2eb74e33fafad,2019-07-26T18:49:32Z,5d1bceafd5b39c032f2602c0
4,DR-5-MT,5,MT,DR,1953-06-06T04:00:00Z,1953,Flood,Floods,0,1,...,1953-06-06T04:00:00Z,1953-06-06T04:00:00Z,NaN,30000,0,Statewide,53006,59c5483387ca13c6a3c1bc692f4860e1,2019-07-26T18:49:32Z,5d1bceafd5b39c032f2602c7

In [5]:
# checking for null values
us.isnull().sum()

fema_declaration_string           0
disaster_number                   0
state                             0
declaration_type                  0
declaration_date                  0
fy_declared                       0
incident_type                     0
declaration_title                 0
ih_program_declared               0
ia_program_declared               0
pa_program_declared               0
hm_program_declared               0
incident_begin_date               0
incident_end_date              8085
disaster_closeout_date        56586
fips                              0
place_code                        0
designated_area                   0
declaration_request_number        0
hash                             75
last_refresh                      0
id                                0
dtype: int64

In [ ]:
# shape of dataset
us.shape

In [ ]:
# Getting the dates coloumn
li = us['declaration_date'].tolist()

In [ ]:
li[:5]

In [ ]:
# Seperate the day, month, and year into seperate lists.
def date_ordering(dates):
    year = []
    month = []
    day = []
    for l in li:
        l = str(l)
        str_date = l.split('-')
        str_date = list(str_date)
        day.append(int("".join(str_date[2][:2]))) 
        year.append(int("".join(str_date[0])))
        month.append(int("".join(str_date[1])))
    return(year, month, day)

year, month, day =  date_ordering(li)

In [ ]:
#Create new coloumns
us['year'] = year
us['month'] = month
us['day'] = day

In [ ]:
us.head()

In [ ]:
# collecting the needed coloumns.
us  = us[['year','month','day','state','designated_area','declaration_title']]

In [ ]:
us.head()

In [ ]:
# visual display of the most affected states
state_count = us['state'].value_counts()
sns.set(style="darkgrid")
sns.barplot(state_count.index, state_count.values, alpha=0.9)
plt.title('Frequency Distribution of State')
plt.ylabel('Number of Occurrences', fontsize=12)
plt.xlabel('States', fontsize=12)
plt.xticks(rotation = 90)
plt.show()  # So from what we can see there is alot of disasters in the state of texas

In [ ]:
state = dict(enumerate(us.state.astype('category').cat.categories))
designated_area = dict(enumerate(us.designated_area.astype('category').cat.categories))
state = dict(enumerate(us.declaration_title.astype('category').cat.categories))

In [ ]:
us['state_code'] = us.state.astype('category').cat.codes
us['designated_area_code'] = us.designated_area.astype('category').cat.codes
us['declaration_title_code'] = us.declaration_title.astype('category').cat.codes

In [ ]:
us.head()

In [ ]:
us.drop(['state','designated_area','declaration_title'],inplace = True, axis=1)

In [ ]:
us.head()

In [ ]:
year = us['year'].tolist()
month = us['month'].tolist()
day =us['day'].tolist()

In [ ]:
combo =[]
zipped = zip(day, month, year)
for i,j, k in zipped:
    combo.append(str(i)+'/'+str(j)+'/'+ str(k))

In [ ]:
us['fulldate'] = combo

In [ ]:
us.set_index("fulldate", inplace = True)

In [ ]:
us.head()

In [ ]:
# Trying to see if I can use the countries to visualize a trend.
us['state_code'].plot()

In [ ]:
# Trying to see if I can visualize a trend in natural disasters.
us['declaration_title_code'].plot()

In [ ]:
us_ = us.tolist()

In [ ]:
us_test = us[9000:,:]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
sc =MinMaxScaler(feature_range = (0,1))
us_scaled_set = sc.fit_transform(us)

In [ ]:
time_steps = 365
length =  len(us_scaled_set)
col = us.shape[1]

In [ ]:
# creating the time steps
x_train = []
y_train = []

for i in range(time_steps, length):
    x_train.append(us_scaled_set[i-time_steps:i, :])  
    y_train.append(us_scaled_set[i,:])

In [ ]:
x_train, y_train = np.array(x_train), np.array(y_train)

In [ ]:
x_train = np.reshape(x_train,(x_train.shape[0], x_train.shape[1], col))

In [ ]:
#language['level_back'] = language['code'].map(d)

In [ ]:
#https://www.kaggle.com/headsortails/us-natural-disaster-declarations

### Vocalnic eruption data

In [ ]:
volc = pd.read_csv('data/txt/volerup.txt',delimiter = '\t', quoting = 3, encoding='utf-8')

In [ ]:
volc.head()

In [ ]:
volc.tail()

In [ ]:
volc.isnull().sum()

In [ ]:
len(volc)

In [ ]:
Country_count = volc['Country'].value_counts()
sns.set(style="darkgrid")
sns.barplot(Country_count.index, Country_count.values, alpha=0.9)
plt.title('Frequency Distribution of Countries')
plt.ylabel('Number of Occurrences', fontsize=12)
plt.xlabel('Countries', fontsize=12)
plt.xticks(rotation = 90)
plt.show()  # So from what we can see there is alot of volcanic eruption in indonesia

In [ ]:
labels = volc['Country'].astype('category').cat.categories.tolist()
counts = volc['Country'].value_counts()
sizes = [counts[var_cat] for var_cat in labels]
fig1, ax1 = plt.subplots()
ax1.pie(sizes, labels=labels, autopct='%1.1f%%', shadow=True) #autopct is show the % on plot
ax1.axis('equal')
plt.show()

In [ ]:
volc  = volc[['Year','Month','Day','Latitude','Longitude']]

In [ ]:
len(volc)

In [ ]:
volc.head()

In [ ]:
volc  = volc.fillna(volc['Month'].value_counts().index[0])
volc  = volc.fillna(volc['Day'].value_counts().index[0])

In [ ]:
volc.head()

In [ ]:
# Repition shows that there were places that the eruption happend more than once.
print(volc.Latitude.duplicated().sum())
print(volc.Longitude.duplicated().sum())

In [ ]:
volc.set_index("Year", inplace = True)

### Trying to see if there are trends in the coordinates.

In [ ]:
volc['Latitude'].plot()

In [ ]:
volc['Longitude'].plot()

In [ ]:
#volc['country_num'] = volc['Country'].astype('category').cat.codes
#volc['Location_num'] = volc['Location'].astype('category').cat.codes
#volc['Name_num'] = volc['Name'].astype('category').cat.codes

In [ ]:
#volc.drop(['Country','Location','Name'],inplace = True, axis=1)

In [ ]:
#volc.head()

In [ ]:
#from sklearn.preprocessing import  OneHotEncoder
#from sklearn.compose import ColumnTransformer

In [ ]:
#ct = ColumnTransformer(
#    [('one_hot_encoder', OneHotEncoder(categories='auto'), [2,3,4])],   # The column numbers to be transformed (here is [0] but can be [0, 1, 3])
#    remainder='passthrough'                                         # Leave the rest of the columns untouched
#)

In [ ]:
#X = ct.fit_transform(volc)

In [ ]:
#x = X.toarray()

In [ ]:
#x

In [ ]:
# ------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
volc = volc.reset_index()

In [ ]:
volc.head()

In [ ]:
#hold = volc['Latitude'].astype(str) + "," + volc['Longitude'].astype(str)
#volc['coor'] = hold

In [ ]:
#volc.head()

In [ ]:
from sklearn.preprocessing import MinMaxScaler
sc =MinMaxScaler(feature_range = (0,1))
volc_scaled_set = sc.fit_transform(volc)

In [ ]:
volc_scaled_set

In [ ]:
time_steps = 30 
check = len(volc_scaled_set)
check

In [ ]:
# creating the time steps
x_train = []
y_train = []

for i in range(time_steps, check):
    x_train.append(volc_scaled_set[i-time_steps:i, :])  
    y_train.append(volc_scaled_set[i,:])

In [ ]:
x_train, y_train = np.array(x_train), np.array(y_train)

In [ ]:
len(x_train)

In [ ]:
x_train = np.reshape(x_train,(x_train.shape[0], x_train.shape[1], 5))

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from keras import backend

In [ ]:
# f beta metric, incase of imbalanced dataset ...... 
def f_beta(y_true, y_pred, beta =2):
    # clip prediction
    y_pred = backend.clip(y_pred, 0, 1)
    
    # calculate elements
    tp = backend.sum(backend.round(backend.clip(y_true * y_pred, 0,1)), axis = 1)
    fp = backend.sum(backend.round(backend.clip(y_pred - y_true, 0,1)), axis = 1)
    fn = backend.sum(backend.round(backend.clip(y_true - y_pred, 0,1)), axis = 1)
    
    #  precision
    p = tp / (tp + fp + backend.epsilon())
    
    #  recall
    r = tp / (tp +fn + backend.epsilon())
    
    # calculate fbeta
    
    bb = beta ** 2
    fbeta_score = backend.mean((1 + bb) * (p * r) / (bb * p + r + backend.epsilon()))
    return fbeta_score

In [ ]:
detector.fit(x_train, y_train, epochs = 90, batch_size = 10)

In [ ]:
# ---------------------------------------------------------------------------------------------------------

### Tsunmi data

In [ ]:
tsu = pd.read_csv('data/txt/tsrunup.txt',delimiter = '\t', quoting = 3, encoding='latin-1')

In [ ]:
tsu.head()

In [ ]:
tsu.isnull().sum()

In [ ]:
tsu  = tsu[['YEAR', 'LOCATION_NAME','COUNTRY','LATITUDE','LONGITUDE']]

In [ ]:
tsu.head()

In [ ]:
# Repition shows that there were places that the eruption happend more than once.
print(tsu.LATITUDE.duplicated().sum())
print(tsu.LONGITUDE.duplicated().sum())

In [ ]:
print(tsu.LOCATION_NAME.duplicated().sum())

In [ ]:
### ------------------------------------------------------------------------------------------------------

# Earthquake data

In [ ]:
earth = pd.read_csv('data/txt/signif.txt',delimiter = '\t', quoting = 3, encoding='latin-1')

In [ ]:
earth.head()

In [ ]:
earth.isnull().sum()

In [ ]:
earth  =earth[['YEAR', 'LOCATION_NAME','COUNTRY','LATITUDE','LONGITUDE']]

In [ ]:
print(earth.LATITUDE.duplicated().sum())
print(earth.LONGITUDE.duplicated().sum())

In [ ]:
print(earth.LOCATION_NAME.duplicated().sum())

In [ ]:
# https://medium.com/@kasiarachuta/choosing-columns-in-pandas-dataframe-d0677b34a6ca

In [ ]:
# https://towardsdatascience.com/time-series-forecasting-with-recurrent-neural-networks-74674e289816

In [ ]:
# https://www.datacamp.com/community/tutorials/categorical-data

In [ ]:
# https://cmdlinetips.com/2018/11/how-to-join-two-text-columns-into-a-single-column-in-pandas/