# Building the Earthquake Classification Model
### The baseline model is to predict if an earthquake will occur in a place on a particular day.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### PREPROCESSING

In [2]:
# The preprocessing function accepts a pandas dataframe with the "Year", "Month" and "Day" features for when a natural disaster
# occured as well as the "Longitude" and "latitude" coordinates. The function returns a pandas dataframe with the mentioned 
# features but for all days within the starting and ending year of the original dataframe. It also has an added feature 
# "target" which is a 1 if a natural disaster occured on that day, and a 0 otherwise.

def preprocessing_dataframe(disaster_df):
    preprocessed_dict = {'Year': [], 'Latitude':[], 'Longitude': [], 'Month': [], 'Day': [], 'target': []} # Starting with a dictionary to hold all values, but will later change to a pandas dataframe
    # Creating a dictionary that stores the latitude and longitude values for each specific place in the dataframe
    print('Preprocessing ... ')
    print(' ')
    place_coords = {}
    for place in disaster_df['Name'].unique():
        lat = disaster_df[disaster_df['Name'] == place]['Latitude'].unique()[0]
        lng = disaster_df[disaster_df['Name'] == place]['Longitude'].unique()[0]
        place_coords[place] = (lat, lng)
        
    # All places with their respective coordinates are now stored in the "place_coords" dictionary
    
    year_start = disaster_df['Year'].unique().min() # Getting the earliest year in the dataframe
    year_end = disaster_df['Year'].unique().max() # Getting the last year in the dataframe
    
    # Now, I'll iterate through all the years in order to assign the targets
    for year in range(year_start, year_end+1):  
        year_df = disaster_df[disaster_df['Year'] == year] # Dataframe for disasters happening in year "year" 
        
        # I'll have to account for all the days of the months in the year, which are usually 30 and 31 except February
        # Assigning the number of days for a specific year in the month of February is dependent on if the year is a leap year 
        # or not, where the number of days will be 29 or 28 respectively.
        
        month_days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31] # List containing number of days for each month of the year accordingly, i.e index 0 or January with 31 days. This is the list of days assuming it is not a leap year
        if year%4 == 0:
            if year%100 != 0:
                month_days[1] = 29
            else:
                if year%400 == 0:
                    month_days[1] = 29
        
        # Now, the "month_days" list's index "1" will remain 28 if it is not a leap year, and be changed to 29 if it is indeed
        # a leap year
        
        # Would also need to iterate through all the places in the dataframe
        for place in place_coords:
            place_df = year_df[year_df['Name'] == place] # DataFrame for observations of only the place "place" 
            month_number = 1 # This is supposed to be January
            
            #Similar, iterating through all months...
            for days in month_days:
                month_df = place_df[place_df['Month'] == month_number] # DataFrame containing observations of only the month "month"
                
                # Iterating through all the days in the month...
                for day in range(1, days+1):
                    preprocessed_dict['Year'].append(year)
                    preprocessed_dict['Latitude'].append(place_coords[place][0])
                    preprocessed_dict['Longitude'].append(place_coords[place][1])
                    preprocessed_dict['Month'].append(month_number)
                    preprocessed_dict['Day'].append(day)
                    # And finally, if the particular date is present in the dataframe, the target is set to 1, and 0 otherwise
                    if place in year_df['Name'].unique() and month_number in place_df['Month'].unique() and day in month_df['Day'].unique():
                        preprocessed_dict['target'].append(1)
                    else:
                        preprocessed_dict['target'].append(0)
                month_number += 1
                
    preprocessed_df = pd.DataFrame(preprocessed_dict) # Transforming to a dataframe
    
    # Things to note: The function doesn't consider nan values, so if there is a nan value in any of the date features it will
    # set the target to 0. Also, the preprocessed dataframe can be very large without care, so maybe sticking to 40, 50 years
    # at most will be desirable. Also helps that for latter years, there's a lot less nan values. But could also edit it to
    # perform a task if there is are nan values present.
    print('Done!')
    return preprocessed_df

In [3]:
earth = pd.read_csv('earthquake_data.txt',delimiter = '\t', quoting = 3, encoding='latin-1') # Earthquake Dataset

In [4]:
earth.head()

,I_D,FLAG_TSUNAMI,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,FOCAL_DEPTH,EQ_PRIMARY,...,TOTAL_MISSING,TOTAL_MISSING_DESCRIPTION,TOTAL_INJURIES,TOTAL_INJURIES_DESCRIPTION,TOTAL_DAMAGE_MILLIONS_DOLLARS,TOTAL_DAMAGE_DESCRIPTION,TOTAL_HOUSES_DESTROYED,TOTAL_HOUSES_DESTROYED_DESCRIPTION,TOTAL_HOUSES_DAMAGED,TOTAL_HOUSES_DAMAGED_DESCRIPTION
0,1,NaN,-2150,NaN,NaN,NaN,NaN,,NaN,7.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,NaN,-2000,NaN,NaN,NaN,NaN,NaN,18.0,7.1,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN
2,2,Tsu,-2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5877,Tsu,-1610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
4,8,NaN,-1566,NaN,NaN,NaN,NaN,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
earth = earth[['DAY','MONTH','YEAR', 'LOCATION_NAME','COUNTRY','LATITUDE','LONGITUDE']] # Only relevant variables

In [6]:
# Changing the column names to fit what the preorpocessing function needs
earth.rename(columns={'DAY':'Day',
                          'MONTH':'Month',
                          'YEAR':'Year',
                        'LOCATION_NAME':'Name',
                        'COUNTRY':'Country',
                         'LATITUDE':'Latitude',
                         'LONGITUDE':'Longitude'}, 
                 inplace=True)

In [7]:
earth.head()

,Day,Month,Year,Name,Country,Latitude,Longitude
0,NaN,NaN,-2150,"JORDAN: BAB-A-DARAA,AL-KARAK",JORDAN,31.100,35.500
1,NaN,NaN,-2000,TURKMENISTAN: W,TURKMENISTAN,38.000,58.200
2,NaN,NaN,-2000,SYRIA: UGARIT,SYRIA,35.683,35.800
3,NaN,NaN,-1610,GREECE: THERA ISLAND (SANTORINI),GREECE,36.400,25.400
4,NaN,NaN,-1566,ISRAEL: ARIHA (JERICHO),ISRAEL,31.500,35.300

In [8]:
# For similar reasons as the volcano dataset, the model will only be trained on data from 1950. 
earth_1950= earth[earth['Year'] >= 1950]
earth_1950.head()

       Day  Month  Year                     Name Country  Latitude  Longitude
3548  19.0    1.0  1950            IRAN: BUSHIRE    IRAN    27.300     53.200
3549  30.0    1.0  1950         CHILE:  SOUTHERN   CHILE   -53.500    -71.500
3550   2.0    2.0  1950  CHINA:  YUNNAN PROVINCE   CHINA    21.700    100.100
3551   4.0    2.0  1950                   TURKEY  TURKEY    40.000     40.000
3552  28.0    2.0  1950  RUSSIA:  SEA OF OKHOTSK  RUSSIA    46.000    144.000

In [9]:
earth_1950.shape

(2648, 7)

In [10]:
earth_1950.isnull().sum()

Day          2
Month        0
Year         0
Name         0
Country      0
Latitude     2
Longitude    2
dtype: int64

In [11]:
earth_1950.reset_index(drop=True, inplace=True)

In [12]:
# The model could become biased if it's trained on data where some places have had not up to 2 disasters from 1950. 
# So, these will be removed from the data to be trained.

name_counts = earth_1950['Name'].value_counts()

for i in range(earth_1950.shape[0]):
    if  name_counts[earth_1950.loc[i, 'Name']] <= 2: # Removed places with 2 or less occurences since 1950
        earth_1950.drop(i, axis=0, inplace=True)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [13]:
earth_1950.head()

     Day  Month  Year                     Name  Country  Latitude  Longitude
1   30.0    1.0  1950         CHILE:  SOUTHERN    CHILE   -53.500    -71.500
2    2.0    2.0  1950  CHINA:  YUNNAN PROVINCE    CHINA    21.700    100.100
3    4.0    2.0  1950                   TURKEY   TURKEY    40.000     40.000
8   16.0    5.0  1950                     PERU     PERU   -15.000    -69.500
13   5.0    8.0  1950                  ECUADOR  ECUADOR    -1.500    -78.200

In [14]:
# preprocessed_earth = preprocessing_dataframe(earth_1950) # Already done the preprocessing and saved the preprocessed data

In [15]:
#preprocessed_earth.to_csv('preprocessed_earth.csv', index=False)

In [16]:
preprocessed_earth = pd.read_csv('preprocessed_earth.csv')

In [17]:
preprocessed_earth.head()

   Year  Latitude  Longitude  Month  Day  target
0  1950     -53.5      -71.5      1    1       0
1  1950     -53.5      -71.5      1    2       0
2  1950     -53.5      -71.5      1    3       0
3  1950     -53.5      -71.5      1    4       0
4  1950     -53.5      -71.5      1    5       0

In [18]:
# Taking out test data before upsampling
train_data = preprocessed_earth[preprocessed_earth['Year'] < 2019] # Training the model from 1980-2018
test_data = preprocessed_earth[preprocessed_earth['Year'] >= 2019]
test_data = test_data[test_data['Year'] < 2020] # Testing on 2019 only since there isn't enough data on 2020

In [19]:
len(train_data[train_data['target'] == 1])

609

In [20]:
num_zero_targets = len(train_data[train_data['target'] == 0])
num_zero_targets

3048833

In [21]:
minority  = train_data[train_data['target'] == 1]
majority = train_data[train_data['target'] == 0]

In [22]:
minority.head()

      Year  Latitude  Longitude  Month  Day  target
29    1950     -53.5      -71.5      1   30       1
397   1950      21.7      100.1      2    2       1
620   1950      21.7      100.1      9   13       1
764   1950      40.0       40.0      2    4       1
1230  1950     -15.0      -69.5      5   16       1

In [23]:
majority.head()

   Year  Latitude  Longitude  Month  Day  target
0  1950     -53.5      -71.5      1    1       0
1  1950     -53.5      -71.5      1    2       0
2  1950     -53.5      -71.5      1    3       0
3  1950     -53.5      -71.5      1    4       0
4  1950     -53.5      -71.5      1    5       0

In [24]:
from sklearn.utils import resample

In [25]:
# Basic upsampling minority class
min_upsamp = resample(minority, replace=True, n_samples=num_zero_targets, random_state=1)

In [26]:
min_upsamp.shape

(3048833, 6)

In [27]:
min_upsamp.head()

        Year  Latitude  Longitude  Month  Day  target
142446  1953    -22.10     -68.70     12    7       1
912809  1970     57.50    -153.90      3   11       1
318062  1957    -18.30     178.20      9   28       1
553713  1962     43.30      17.10      1   11       1
507357  1961     45.89     151.11      1   10       1

In [28]:
upsampled_data = pd.concat([majority, min_upsamp])

In [29]:
upsampled_data = upsampled_data.sample(frac=1).reset_index(drop=True) # to shuffle the dataframe

In [30]:
upsampled_data

         Year  Latitude  Longitude  Month  Day  target
0        2010    37.000     -3.500      5   16       0
1        1982    39.000    101.300      4   14       1
2        1968    38.500    -28.800      2   28       1
3        1987    40.525    143.419      7   21       0
4        2010   -42.963    171.658      9    6       1
...       ...       ...        ...    ...  ...     ...
6097661  2011   -16.390    -72.658      5   22       0
6097662  1954    36.730     55.040     11    2       0
6097663  2002    32.913     75.633      2   22       0
6097664  1986   -59.100    157.800      2   21       0
6097665  2016   -16.390    -72.658      8   15       1

[6097666 rows x 6 columns]

In [31]:
x_train = upsampled_data.iloc[:, 0:5]
y_train = upsampled_data.iloc[:, 5]

In [32]:
x_test = test_data.drop(columns='target')
y_test = test_data['target']

In [33]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
scaled_x_train = sc.fit_transform(x_train) # Scaling train_data
scaled_x_test =  sc.transform(x_test) # Scaling test_data

## Training the Model

In [34]:
# Using Random Forest

from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion= 'entropy' , random_state =0)
classifier.fit(scaled_x_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [35]:
y_pred = classifier.predict(scaled_x_test)

In [36]:
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score

In [37]:
cm = confusion_matrix(y_test, y_pred)

In [38]:
cm

array([[44132,    20],
       [   13,     0]])

In [39]:
print(accuracy_score(y_pred, y_test))

0.999252801992528

In [40]:
pred_dates = [] # List to store predicted dates a disaster will happen
for i in range(len(y_pred)):
    if y_pred[i] == 1:
        pred_dates.append(x_test.iloc[i])
pred_dates # Dates and places that the model predicted disasters will happen

[Year         2019.00
 Latitude       42.15
 Longitude     143.85
 Month           9.00
 Day             5.00
 Name: 3056989, dtype: float64,
 Year         2019.0
 Latitude      -18.3
 Longitude     178.2
 Month           8.0
 Day            19.0
 Name: 3058067, dtype: float64,
 Year         2019.0
 Latitude      -18.3
 Longitude     178.2
 Month           9.0
 Day             6.0
 Name: 3058085, dtype: float64,
 Year         2019.0
 Latitude       24.5
 Longitude     122.2
 Month           2.0
 Day             6.0
 Name: 3076488, dtype: float64,
 Year         2019.000
 Latitude       16.010
 Longitude     -96.591
 Month           2.000
 Day            16.000
 Name: 3081973, dtype: float64,
 Year         2019.000
 Latitude       34.594
 Longitude      47.454
 Month           1.000
 Day             6.000
 Name: 3087042, dtype: float64,
 Year         2019.000
 Latitude       34.594
 Longitude      47.454
 Month           4.000
 Day             1.000
 Name: 3087127, dtype: float64,
 Year         2019.000
 Latitude       34.594
 Longitude      47.454
 Month           7.000
 Day            22.000
 Name: 3087239, dtype: float64,
 Year         2019.000
 Latitude       34.594
 Longitude      47.454
 Month           8.000
 Day            25.000
 Name: 3087273, dtype: float64,
 Year         2019.000
 Latitude      -22.107
 Longitude     169.350
 Month           8.000
 Day            29.000
 Name: 3088007, dtype: float64,
 Year         2019.000
 Latitude      -22.107
 Longitude     169.350
 Month          10.000
 Day            16.000
 Name: 3088055, dtype: float64,
 Year         2019.000
 Latitude      -22.107
 Longitude     169.350
 Month          12.000
 Day             5.000
 Name: 3088105, dtype: float64,
 Year         2019.000
 Latitude      -21.324
 Longitude      33.583
 Month          12.000
 Day            22.000
 Name: 3090312, dtype: float64,
 Year         2019.000
 Latitude       28.412
 Longitude      59.180
 Month           9.000
 Day             7.000
 Name: 3092031, dtype: float64,
 Year         2019.000
 Latitude       -8.305
 Longitude     116.058
 Month           7.000
 Day            28.000
 Name: 3092355, dtype: float64,
 Year         2019.000
 Latitude       -8.305
 Longitude     116.058
 Month           8.000
 Day             5.000
 Name: 3092363, dtype: float64,
 Year         2019.000
 Latitude       -8.305
 Longitude     116.058
 Month           8.000
 Day             9.000
 Name: 3092367, dtype: float64,
 Year         2019.000
 Latitude       -8.305
 Longitude     116.058
 Month           8.000
 Day            19.000
 Name: 3092377, dtype: float64,
 Year         2019.000
 Latitude        8.477
 Longitude     -71.365
 Month           4.000
 Day             3.000
 Name: 3092604, dtype: float64,
 Year         2019.000
 Latitude       28.264
 Longitude     104.991
 Month          12.000
 Day            16.000
 Name: 3093591, dtype: float64]

In [41]:
actual_dates = []
test_list = y_test.to_list()
for i in range(len(test_list)):
    if test_list[i] == 1:
        actual_dates.append(x_test.iloc[i])
actual_dates # Dates and places that disasters actually happened. Substantial differences but that's what you get from a baseline model I guess

[Year         2019.0
 Latitude       22.5
 Longitude     109.5
 Month          11.0
 Day            25.0
 Name: 3069115, dtype: float64,
 Year         2019.00
 Latitude       24.78
 Longitude     122.70
 Month           8.00
 Day             7.00
 Name: 3070100, dtype: float64,
 Year         2019.0
 Latitude       24.5
 Longitude     122.2
 Month           4.0
 Day            18.0
 Name: 3076559, dtype: float64,
 Year         2019.000
 Latitude      -16.390
 Longitude     -72.658
 Month           3.000
 Day             1.000
 Name: 3082351, dtype: float64,
 Year         2019.000
 Latitude        8.337
 Longitude     126.729
 Month          10.000
 Day            16.000
 Name: 3085135, dtype: float64,
 Year         2019.000
 Latitude        8.337
 Longitude     126.729
 Month          10.000
 Day            29.000
 Name: 3085148, dtype: float64,
 Year         2019.000
 Latitude        1.065
 Longitude     126.282
 Month           7.000
 Day            14.000
 Name: 3090881, dtype: float64,
 Year         2019.000
 Latitude        1.065
 Longitude     126.282
 Month          11.000
 Day            14.000
 Name: 3091004, dtype: float64,
 Year         2019.000
 Latitude       -8.305
 Longitude     116.058
 Month           3.000
 Day            17.000
 Name: 3092222, dtype: float64,
 Year         2019.000
 Latitude       -3.745
 Longitude     127.752
 Month           9.000
 Day            25.000
 Name: 3093144, dtype: float64,
 Year         2019.000
 Latitude       -3.745
 Longitude     127.752
 Month          11.000
 Day            12.000
 Name: 3093192, dtype: float64,
 Year         2019.000
 Latitude       28.264
 Longitude     104.991
 Month           1.000
 Day             3.000
 Name: 3093244, dtype: float64,
 Year         2019.000
 Latitude       28.264
 Longitude     104.991
 Month           6.000
 Day            17.000
 Name: 3093409, dtype: float64]

In [42]:
from sklearn.metrics import roc_auc_score

In [43]:
# Predict class probabilities
y_pred_proba = classifier.predict_proba(scaled_x_test)
 
# Keep only the positive class
y_pred_proba = [y[1] for y in y_pred_proba]

In [44]:
print(roc_auc_score(y_test, y_pred_proba))

0.4988788729842363

### Now time to train the model on the entire dataset

In [45]:
full_train_data = preprocessed_earth[preprocessed_earth['Year'] < 2020]

In [46]:
len(full_train_data[full_train_data['target'] == 1])

622

In [47]:
full_num_zero_targets = len(full_train_data[full_train_data['target'] == 0])
full_num_zero_targets

3092985

In [48]:
full_majority = full_train_data[full_train_data['target'] == 0]
full_minority = full_train_data[full_train_data['target'] == 1]

In [49]:
full_min_upsamp = resample(full_minority, replace=True, n_samples=full_num_zero_targets, random_state=1)

In [50]:
full_min_upsamp.shape

(3092985, 6)

In [51]:
full_upsampled_data = pd.concat([full_majority, full_min_upsamp])

In [52]:
full_upsampled_data = full_upsampled_data.sample(frac=1).reset_index(drop=True)

In [53]:
full_x_train = full_upsampled_data.iloc[:, 0:5]
full_y_train = full_upsampled_data.iloc[:, 5]

In [54]:
full_x_train.head()

   Year  Latitude  Longitude  Month  Day
0  2007    46.400    141.200      7   28
1  2017   -22.107    169.350     10   31
2  1974    29.400    104.800     10   16
3  2016   -18.250    167.500      4   28
4  1960   -16.390    -72.658      6    6

In [55]:
full_y_train

0          0
1          1
2          0
3          1
4          0
          ..
6185965    1
6185966    0
6185967    1
6185968    0
6185969    1
Name: target, Length: 6185970, dtype: int64

In [56]:
sc = StandardScaler()
scaled_full_x_train = sc.fit_transform(full_x_train) # Scaling train_data

In [57]:
# Final training...
final_classifier = RandomForestClassifier(n_estimators=10, criterion='entropy', random_state=0)
final_classifier.fit(scaled_full_x_train, full_y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [58]:
import gzip
import dill

In [60]:
with gzip.open('earthquake_classification_model.dill.gz', 'wb') as f:
    dill.dump(final_classifier, f, recurse=True)